.our-news {

  &__news-container {
    padding: 25px 20px 20px 25px;
  }

  &__headline {
    margin-bottom: 20px;
    width: auto;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }

  &__subscribe-to-news {
    margin-bottom: 35px;
    font: {
      family: $roboto;
      size: 16px;
      weight: 300;
    }
    line-height: 27px;
    color: #444240;
  }

  &__social {
    width: 35%;

    & ul {
      display: flex;
      justify-content: space-between;
    }

    & svg {
      width: 23px;
      height: 23px;
    }
  }

  &__decorative-photos-container {
    display: none;
  }
}

@media screen and (min-width: $tablet-width) {
  .our-news {

    &__container {
      margin: $margin-auto;
      padding-bottom: 81px;
      width: $tablet-container-width;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__decorative-photos-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "left-top right-center"
        "left-bottom right-center";
      grid-gap: 3px 10px;
    }

    &__photo-container {
      margin: 0;

      &--1 {
        grid-area: left-top;

        & img {
          width: 170px;
          height: 175px;
        }
      }

      &--2 {
        grid-area: left-bottom;

        & img {
          width: 170px;
          height: 175px;
        }
      }

      &--3 {
        grid-area: right-center;

        & img {
          width: 280px;
          height: 360px;
        }
      }
    }

    &__social {
      width: 55%;
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .our-news {

    &__container {
      padding-bottom: 65px;
      width: 85.5%;
    }

    &__news-container {
      padding-left: 0;
    }

    &__headline {
      margin-bottom: 33px;
      width: 100%;
      font-size: 32px;
      line-height: 43px;
    }

    &__subscribe-to-news {
      margin-bottom: 45px;
      width: 72%;
    }

    &__social {
      width: 17.5%;
    }

    &__photo-container {
      margin: 0;

      &--1 img,
      &--2 img,
      &--3 img {
        width: auto;
        height: auto;
      }
    }
  }
}
