.user-button-panel {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  & > * {
    display: flex;
  }
}

@media screen and (min-width: $tablet-width) {
  .user-button-panel {
    width: 15%;
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .user-button-panel {
    width: 8.2%;
  }
}
