.header-site {
  margin: $margin-auto;
  padding-top: 30px;
  width: $mobile-container-width;
}

@media screen and (min-width: $tablet-width) {
  .header-site {
    padding-right: 9px;
    width: $tablet-width;
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .header-site {
    width: $desktop-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
