.header-site {
  margin: $margin-auto;
  padding-top: 16px;
  width: $mobile-container-width;
}

@media screen and (min-width: $tablet-width) {
  .header-site {
    width: $tablet-container-width;
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .header-site {
    width: $desktop-width - 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--other-page {
      width: $desktop-container-width;
    }
  }
}
