.advantages {
  margin-bottom: 30px;
  padding: 0 15px;
  background: linear-gradient(to right, #f7f5ef 34%, #fdfdfb 34%);

  &__collection-container {
    padding: 52px 10px 9px 10px;
  }

  &__slider-container {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    width: 250px;
    height: 250px;
  }

  &__description {
    padding: 15px 20px 25px 20px;
    width: 100%;

    &-headline {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 400;
      line-height: 32px;
    }

    &-text {
      margin-bottom: 39px;
      font-family: $roboto;
      letter-spacing: 1px;
    }
  }

  &__link-to-catalog {
    padding: 23px 29px;
    background-color: #D4B098;

    &:hover,
    &:focus {
      background-color: #c87137;
    }

    &:active {
      box-shadow: 1px -2px 16px #464444 inset;
    }
  }

  &__slider-button {
    margin-left: 56px;
    padding-bottom: 14px;
    width: 25%;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0 40px;
    background-image: url("../img/ellipseBG.svg"), linear-gradient(to right, #f7f5ef 34%, #fdfdfb 34%);
    background-position: right center;
    background-repeat: no-repeat;

    &__collection-container {
      padding: 52px 40px 9px 40px;
    }

    &__slider-container {
      display: none;

      &--active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__img {
      width: 350px;
      height: 350px;
    }

    &__description {
      padding: 30px 30px 25px 35px;

      &-headline {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 35px;
      }

      &-text {
        margin-bottom: 30px;
      }
    }

    &__link-to-catalog {
      padding: 23px 29px;
    }

    &__slider-button {
      margin-left: 186px;
      width: 10%;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 78px;

    &__collection-container {
      padding: 52px 40px 9px 136px;
    }

    &__img {
      width: auto;
      height: auto;
    }

    &__description {
      padding: 20px 70px 25px 70px;

      &-headline {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 43px;
      }

      &-text {
        margin-bottom: 39px;
        width: 83%;
      }
    }

    &__link-to-catalog {
      padding: 24px 39px;
    }

    &__slider-button {
      margin-left: 510px;
      padding-bottom: 14px;
      width: 5%;
    }
  }
}
