.breadcrumbs {
  margin: 0 102px;
  width: 270px;

  &__list {
    display: flex;
    justify-content: space-between;

    &-item {
      position: relative;

      &:not(:last-child)::after {
        position: absolute;
        top: 8px;
        right: -21px;
        content: "";
        width: 6px;
        height: 10px;
        background: url("../img/breadcrumbs-arrow.png") no-repeat;
      }

      &-link {
        font-family: $roboto;
        font-weight: 500;
        line-height: 16px;
        color: #555248;

        &--active {
          color: #B3B3B3;
        }

        &:hover {
          color: #555248;
        }

        &:active {
          opacity: .5;
        }
      }
    }
  }
}
