.catalog-name-and-sort {
  margin: $margin-auto;
  margin-bottom: 33px;
  width: 88%;
  text-align: center;

  &__name {
    font-size: 30px;
    line-height: 40px;
    color: $main-color;
  }

  &__sort-container {
    position: relative;
    min-width: 210px;
    display: flex;
    justify-content: center;
  }

  &__sort-by {
    margin-right: 5px;
  }

  &__typography {
    font-family: $roboto;
    line-height: 21px;
    color: $black-color;

    &--color {
      color: #BDB9B5;
    }
  }

  &__sort-type {
    cursor: pointer;

    &:hover {
      color: rgb(101, 55, 12);
    }

    &:active {
      color: #803b3b;
    }

    &--active {
      opacity: .5;
    }
  }

  &__list-options {
    position: absolute;
    top: 17px;
    right: 31px;
    padding: 5px 10px;
    display: none;
    background-color: $white-color;
    z-index: 2;

    &--active {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog-name-and-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    text-align: justify;

    &__list-options {
      right: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-name-and-sort {
    width: 1160px;

    &__sort-container {
      margin-right: 19px;
      align-items: center;
    }

    &__list-options {
      top: 20px;
      right: -4px;
    }
  }
}
