.catalog-name-and-sort {
  margin: $margin-auto;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;

  &__name {
    font-size: 30px;
    line-height: 40px;
    color: #1B1A17;
  }

  &__sort-container {
    position: relative;
    margin-right: 19px;
    min-width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sort-by {
    margin-right: 5px;
  }

  &__typography {
    font-family: $roboto;
    line-height: 21px;
    color: $black-color;

    &--color {
      color: #BDB9B5;
    }
  }

  &__sort-type {
    cursor: pointer;

    &--active {
      opacity: .5;
    }
  }

  &__list-options {
    position: absolute;
    top: 20px;
    right: -4px;
    padding: 5px 10px;
    display: none;
    background-color: $white-color;
    z-index: 2;

    &--active {
      display: block;
    }
  }
}
