.conquest-social {

  &__item {
    margin-bottom: 5px;
    text-align: center;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
  }

  &__icon {

    &--insta {
      fill: $instagram-color;
      stroke: $instagram-color;
    }

    &--facebook {
      fill: $facebook-color;
    }

    &--twitter {
      fill: $twitter-color;
    }
  }

  &__link:hover &__icon--insta,
  &__link:focus &__icon--insta {
    fill: $instagram-state-hover;
    stroke: $instagram-state-hover;
  }

  &__link:hover &__icon--facebook,
  &__link:focus &__icon--facebook {
    fill: $facebook-state-hover;
  }

  &__link:hover &__icon--twitter,
  &__link:focus &__icon--twitter {
    fill: $twitter-state-hover;
  }

  &__link:active &__icon--insta,
  &__link:active &__icon--facebook,
  &__link:active &__icon--twitter {
    opacity: .5;
  }
}
