.filter-and-product {
  margin: $margin-auto;
  width: 88%;
}

@media (min-width: $tablet-width) {
  .filter-and-product {
    width: 90%;
  }
}

@media (min-width: $desktop-width) {
  .filter-and-product {
    margin: $margin-auto;
    width: 1160px;
    display: flex;
    justify-content: space-between;
  }
}
