.filter {

  &__fieldset:last-of-type {
    margin-bottom: 9px;
  }

  &__legend {
    margin-bottom: 19px;
    padding-right: 15px;
    width: 100%;
    font-family: $roboto;
    line-height: 16px;
    color: #444240;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #7a7671;
    }

    &:active {
      color: $black-color;
    }

    &--open {
      background: url("../img/filter-close.png") center right no-repeat;
    }

    &--close {
      background: url("../img/filter-open.png") center right no-repeat;
    }
  }

  &__range-cost {
    margin-right: 0;
    width: 232px;
    min-height: 60px;
  }

  &__range-line {
    position: relative;
    width: 226px;
    border: 1px solid #D4D4D4;
  }

  &__range-button {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    background-color: $white-color;
    border: 1px solid $main-color;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;

    &--from {
      left: 0;
    }

    &--to {
      left: 221px;
    }
  }

  &__range-price {
    position: absolute;
    left: -17px;
    min-width: 42px;
    font-family: $roboto;
    font-size: 12px;
    line-height: 14px;
    user-select: none;
    text-align: center;

    &--from {
      top: -15px;
    }

    &--to {
      top: 10px;
    }
  }

  &__price-segment-line {
    position: absolute;
    top: -1px;
    left: 1px;
    width: 226px;
    border: 1px solid $main-color;
  }

  &__option-list {
    margin-bottom: 28px;
    padding-left: 25px;

    &--display {
      display: none;
    }
  }

  &__checkbox-option {
    margin-bottom: 8px;
  }

  &__checkbox-label {
    position: relative;
    font-family: $roboto;
    font-size: 12px;
    color: #6F6E6D;
    cursor: pointer;

    &:hover {
      color: #a1897c;
    }

    &:active {
      color: $black-color;
    }

    &::before {
      position: absolute;
      content: "";
      top: -2px;
      left: -25px;
      width: 10px;
      height: 10px;
    }
  }

  &__checkbox-input + &__checkbox-label::before {
    border: 2px solid #909090;
    background-color: transparent;
  }

  &__checkbox-input:checked + &__checkbox-label::before {
    border: 2px solid #6F6E6D;
    background: url("../img/checkbox-checked.png") center center no-repeat #6F6E6D;
  }

  &__checkbox-input:focus + &__checkbox-label::before,
  &__checkbox-input:checked:focus + &__checkbox-label::before {
    outline: 2px solid #4d90fe;
  }

  &__reset-button {
    margin-bottom: 30px;
    padding: 22px 0 21px 0;
    width: 100%;
    font-family: $roboto;
    font-size: 12px;
    line-height: 14px;
    color: #1D1A1A;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    border: 2px solid #E7E0CF;
    letter-spacing: 0.5px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: #E7E0CF;
    }

    &:active {
      opacity: .5;
    }
  }
}

@media (min-width: $tablet-width) {
  .filter__reset-button {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    margin-bottom: 67px;
    width: 20%;

    &__reset-button {
      margin-bottom: 0;
    }
  }
}
