.main {
  width: $mobile-width;
  background-color: $white-color;
}

@media (min-width: $tablet-width)  {
  .main {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width)  {
  .main {
    width: $desktop-width;
  }
}
