.new-collection-preview {
  position: relative;
  margin: $margin-auto;
  padding-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;

  &__conquest-social-position {
    display: none;
  }

  &__description {
    margin: 33px 16px 35px 30px;
  }

  &__headline {
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }

  &__type {
    margin-bottom: 28px;
    width: 70%;
    font-size: 25px;
    line-height: 35px;
  }

  &__text {
    margin-bottom: 58px;
    width: 81%;
    font-family: $roboto;
    font-weight: 300;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
  }

  &__link {

    &:hover,
    &:focus {
      background-color: #c7c7c7;
      color: $main-color;
    }

    &:active {
      box-shadow: 1px 1px 10px #464444 inset;
    }
  }

  &__product {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .new-collection-preview {
    padding: 0 100px 111px 87px;
    width: 100%;

    &__conquest-social-position {
      position: absolute;
      top: 33%;
      left: 5.5%;
      display: block;
    }

    &__description {
      margin: 168px 16px 125px 70px;
    }

    &__headline {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 22px;
        left: -65px;
        width: 50px;
        height: 1px;
        background-color: #8B8371;
      }
    }

    &__text {
      width: 70%;
    }

    &__product {
      position: relative;
      width: 400px;
      display: flex;
      justify-content: space-between;

      &-price,
      &-diameter {
        position: relative;
        font-family: $prata;
        font-size: 16px;
        line-height: 22px;
      }

      &-price {
        align-self: flex-start;
      }

      &-diameter {
        align-self: flex-end;
      }

      &-price::after,
      &-diameter::before {
        position: absolute;
        content: "";
        top: 9px;
        width: 50px;
        height: 1px;
        background-color: #8B8371;
      }

      &-price::after {
        right: -68px;
      }

      &-diameter::before {
        left: -68px;
      }

      &-img-container {
        position: absolute;
        top: 8%;
        left: 0;
        width: 100%;
      }

      &-img  {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .new-collection-preview {
    padding: 0 114px 111px 114px;

    &__conquest-social-position {
      left: 4%;
    }

    &__description {
      margin: 99px 16px 125px 70px;
    }

    &__headline {
      font-size: 45px;
      line-height: 60px;

      &::before {
        top: 35px;
      }
    }

    &__type {
      font-size: 30px;
      line-height: 40px;
    }

    &__product {
      width: 669px;

      &-img-container {
        top: -26.6%;
        left: 19.3%;
        width: auto;
      }
    }
  }
}
