.pagination {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__switch-page:hover &__switch-arrow,
  &__switch-page:focus &__switch-arrow {
    opacity: .5;
  }

  &__switch-page:active &__switch-arrow {
    opacity: .2;
  }

  &__switch-arrow {

    &--right {
      transform: rotate(-180deg);
    }
  }

  &__pagination-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {

      &-link {
        font-family: $roboto;
        line-height: 21px;
        color: #B6B6B6;

        &--active {
          color: $black-color;
        }

        &:hover,
        &:focus {
          color: $black-color;
        }

        &:active {
          opacity: .7;
        }
      }
    }
  }
}
