.popular-models {
  margin: $margin-auto;
  margin-bottom: 39px;
  width: 90%;

  &__headline {
    margin: $margin-auto;
    margin-bottom: 20px;
    width: 95%;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
  }

  &__watch-all {
    margin-left: auto;
    margin-bottom: 25px;
    padding-bottom: 5.5px;
    width: 40%;
    display: block;
    font-family: $roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: right;
    color: #444240;
    border-bottom: 1px solid #C4C0B6;

    &:hover,
    &:focus {
      text-shadow: 1px 1px 3px $main-color;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__products-container {
    display: flex;
    overflow: hidden;
  }

  &__product:not(:last-child) {
    margin-right: 64px;
  }

  &__product {
    position: relative;
    margin-bottom: 38px;
    display: none;
    background-color: $fdfdfb-color;
    z-index: 2;

    &--active {
      display: block;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-wrapper--default-element {
      padding: 39px 23px 36px 41px;
      min-height: 468px;
    }

    &-wrapper--big-element {
      padding: 56px 25px 36px 56px;
      min-height: 460px;
    }

    &-wrapper--mini-element {
      padding: 40px 23px 36px 42px;
      min-height: 221px;
    }

    &-info {
      position: relative;
      width: 40%;
      font-family: $prata;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      z-index: 2;

      &--model {
        font-family: $playFairDisplay;
        font-weight: 700;
      }
    }

    &-img {
      position: absolute;
      z-index: 1;
    }

    &-link {
      position: relative;
      margin: 0 48px;
      display: inline-block;
      font-size: 16px;
      line-height: 21px;
      color: $main-color;
      vertical-align: middle;
      z-index: 2;

      &::before {
        position: absolute;
        content: "";
        top: 11px;
        left: -47px;
        width: 30px;
        height: 1px;
        background-color: #8B8371;
      }

      &:hover,
      &:focus {
        text-shadow: 1px 1px 3px $main-color;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__product-wrapper--big-element &__product-info {
    font-size: 16px;
    line-height: 26px;
  }

  &__product-wrapper--default-element &__product-info--model,
  &__product-wrapper--mini-element &__product-info--model {
    font-size: 14px;
    line-height: 24px;
  }

  &__product-wrapper--big-element &__product-info--model {
    font-size: 18px;
    line-height: 26px;
  }

  &__product-wrapper--default-element &__product-img {
    top: 117px;
    left: 25px;
    width: 240px;
    height: 249px;
  }

  &__product-wrapper--big-element &__product-img {
    top: 57px;
    left: -15px;
    width: 318px;
    height: 350px;
  }

  &__product-wrapper--mini-element &__product-img {
    top: 25px;
    left: 102px;
    width: 200px;
    height: 195px;
  }

  &__product-wrapper--mini-element &__product-img--position-coord {
    left: 103px;
  }

  &__product-wrapper--big-element &__product-link {
    margin: 0 65px;

    &::before {
      top: 12px;
      left: -66px;
      width: 50px;
    }
  }

  &__slider-button {
    margin: $margin-auto;
    width: 20%;
  }
}

@media (min-width: $tablet-width) {
  .popular-models {
    padding: 0 30px;
    width: 100%;

    &__headline {
      margin-bottom: 0;
      width: 60%;
      font-size: 32px;
    }

    &__watch-all {
      width: 18%;
    }

    &__products-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: auto;
    }

    &__product:not(:last-child) {
      margin-right: 0;
    }

    &__product {
      width: 32%;
      display: block;

      &--big-width {
        width: 65%;
      }

      &--half-width {
        width: 48.5%;
      }
    }

    &__product-wrapper--default-element &__product-img {
      left: 0;
      width: 218px;
    }

    &__product-wrapper--big-element &__product-img {
      top: 1px;
      left: 12px;
      width: 438px;
      height: 463px;
    }

    &__product-wrapper--mini-element &__product-img {
      left: 134px;
      width: 190px;
    }

    &__product-wrapper--mini-element &__product-img--position-coord {
      left: 150px;
    }

    &__slider-button {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .popular-models {
    padding: 0 96px;

    &__headline {
      margin: $margin-auto;
      width: 35%;
    }

    &__watch-all {
      width: 9%;
    }

    &__product {

      &-info {
        width: 20%;
      }
    }

    &__product-wrapper--default-element &__product-img {
      top: 76px;
      left: 34px;
      width: auto;
      height: auto;
    }

    &__product-wrapper--big-element &__product-img {
      left: 226px;
      width: auto;
      height: auto;
    }

    &__product-wrapper--mini-element &__product-img {
      top: -10px;
      left: 202px;
      width: auto;
      height: auto;
    }

    &__product-wrapper--mini-element &__product-img--position-coord {
      left: 271px;
    }
  }
}
