.product {
  margin-bottom: 67px;

  &__list {

    &-item {
      position: relative;
      margin-bottom: 40px;
      padding: 18px 20px;
      min-height: 300px;
      background: linear-gradient(0deg, $fdfdfb-color, $fdfdfb-color);
      overflow: hidden;

      &--special-offer {
        padding: 90px 44px 40px 34px;
        background: url("../img/watch_2.png") 113px 7px no-repeat #D4B098;
        background-size: cover;
      }
    }
  }

  &__info-container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__name-and-price {
    min-width: 60px;
    font-family: $roboto;
    font-weight: 300;
    line-height: 21px;
    color: #636261;
  }

  &__name {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #444240;
    transition: .2s ease-out;

    &:hover,
    &:focus {
      font-size: 16px;
      line-height: 18px;
    }

    &:active {
      opacity: .5;
    }
  }

  &__interaction-list {
    width: 55px;
    display: flex;
    justify-content: space-between;
  }

  &__interaction-list-item-link:hover &__interaction-button, {
    fill: $svg-state-hover;
  }

  &__interaction-list-item-link:hover &__interaction-button--stroke, {
    stroke: $like-color;
  }

  &__interaction-list-item-link:active &__interaction-button {
    opacity: .5;
  }

  &__like-button--active &__interaction-button {
    stroke: $like-color;
  }

  &__basket-button--active &__interaction-button {
    fill: $svg-state-hover;
  }

  &__interaction-button {
    transition: .2s ease-in;

    &--stroke {
      stroke: $black-color;
    }
  }

  &__image-container {
    position: absolute;
    width: 60%;
    height: 95%;
    top: 55px;
    left: 22%;
  }

  &__image {
    width: 95%;
    height: 85%;
    object-fit: cover;
  }

  &__discount {
    width: 70%;
    font-size: 16px;
    font-weight: 700;
    color: $white-color;
    text-align: center;

    &-size {
      display: block;
      font-size: 45px;
      line-height: 58px;
    }

    &-condition {
      text-transform: uppercase;
    }
  }

  &__pagination {
    margin-left: 66%;
  }
}

@media (min-width: $tablet-width) {
  .product {

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-item {
        width: 45%;
      }
    }

    &__pagination {
      margin-left: 87%;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 72%;

    &__list {

      &-item {
        width: 30.5%;
      }
    }

    &__pagination {
      margin-left: 86%;
    }
  }
}
