.top-bar  {
  position: relative;
  margin: $margin-auto;
  margin-bottom: 25px;
  padding-top: 15px;
  width: 90%;
  display: flex;
  justify-content: space-between;

  &__logo-container {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hamburger-menu {

    &--active {
      animation: .8s rotateAroundAxis;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    &:hover &-svg {
      stroke: rgb(175, 164, 94);
    }

    &:active &-svg {
      stroke: rgb(139, 53, 30);
    }

    &-svg {
      stroke: $black-color;
    }
  }

  &__logo {
    display: none;
  }

  &__section-nav {
    top: 48px;
    left: 0;
    position: absolute;
    padding: 20px 15px;
    width: 130px;
    display: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $white-color;
    border-top: 1px solid $black-color;
    border-right: 1px solid $black-color;
    z-index: 1;

    &--active {
      display: block;
      animation: .5s slowAppears;
      animation-fill-mode: forwards;
    }
  }

  &__section-link {
    color: $black-color;

    &--active {
      color: #A69876;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__user-buttons {
    align-self: center;
    z-index: 1;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      min-width: 38px;
      text-align: center;
      align-self: center;

      &--search-container {
        position: relative;
      }
    }

    &-link {
      display: inline-block;
      vertical-align: top;
    }

    &-link--position {
      position: relative;
    }
  }

  &__user-button-svg {
    fill: $main-color;

    &--red-color {
      stroke: $main-color;
    }
  }

  &__user-buttons-link:hover &__user-button-svg {
    fill: #afa45d;
  }

  &__user-buttons-link:hover &__user-button-svg--red-color {
    fill: $like-color;
    stroke: $like-color;
  }

  &__user-buttons-link:active &__user-button-svg,
  &__user-buttons-link:active &__user-button-svg--red-color {
    opacity: .5;
  }

  &__user-search-input {
    position: absolute;
    width: 150px;
    top: -2px;
    left: -142px;
    display: none;
    padding: 0 4px;
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    background-color: transparent;

    &--active {
      display: inline-block;
      animation: 1s slowAppears;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }

  &__user-buttons-like-count {
    bottom: 15px;
    right: -6px;
    position: absolute;
    min-width: 13px;
    font-family: $roboto;
    font-size: 10px;
    line-height: 12px;
    border-radius: 50%;
    background-color: #E6C8B4;
  }
}

@media (min-width: $tablet-width) {
  .top-bar {

    &__logo-container {
      min-width: 145px;
    }

    &__logo {
      display: block;

      &:hover {
        opacity: .5;
      }

      &:active {
        opacity: .3
      }
    }

    &__section-nav {
      top: 51px;
    }
  }
}

@media (min-width: $desktop-width) {
  .top-bar {
    margin-bottom: 74px;
    padding: 31px 53px 0 53px;
    width: 100%;

    &--indent {
      margin-bottom: 44px;
      padding: 30px 99px 0 99px;
    }

    &__hamburger-menu--display {
      display: none;
    }

    &__section-nav {
      top: 62px;
      left: 53px;
      padding: 20px 30px 20px 15px;
      width: 150px;

      &--catalog {
        position: relative;
        top: 0;
        left: 0;
        margin-right: 23%;
        padding: 0;
        display: block;
        width: 410px;
        box-shadow: none;
        border: none;
      }
    }

    &__section-list--layout {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & .top-bar__section-item {
        padding: 0 20px;
      }
    }
  }
}
