@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  background-color: #e5e5e5;
}

body {
  margin: $margin-auto;
  min-width: $mobile-width;
  max-width: $mobile-width;
  font-family: "PlayfairDisplay", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $main-color;
  background-color: $white-color;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  body {
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    max-width: $desktop-width;
  }
}
