.accessories {
  margin: $margin-auto;
  margin-bottom: 20px;
  width: $mobile-container-width;

  &__section-name {
    margin: $margin-auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__watch-all {
    margin: 0;
  }

  &__slide-button {

    & svg {
      width: 17px;
      height: 38px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    order: -1;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__item:not(:first-of-type) {
    display: none;
  }

  &__img-container {
    left: 38%;

    & img {
      min-width: 70px;
      max-width: 82px;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .accessories {
    width: $tablet-width;

    &__section-name {
      width: $tablet-container-width;
    }

    &__slide-button {
      margin-bottom: 4%;
      display: block;
    }

    &__container {
      margin: $margin-auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      width: $tablet-container-width - 20px;
      order: 0;
    }

    &__item:nth-of-type(n) {
      display: list-item;
      width: 31%;
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .accessories {
    margin-bottom: 50px;
    width: $desktop-width;

    &__section-name {
      width: $desktop-container-width;
    }

    &__slide-button {
      margin-bottom: 4%;
    }

    &__container {
      width: 93%;
    }

    &__list {
      width: $desktop-container-width;
    }

    &__item {
      padding: 24px 20px;
      min-height: 374px;
    }
  }
}
