.main-site {
  margin: $margin-auto;
  width: $mobile-width;
}

@media screen and (min-width: $tablet-width) {
  .main-site {
    width: $tablet-width;
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .main-site {
    width: $desktop-width;
  }
}
