.year-collection {
  margin-bottom: 50px;
  padding: 25px 33px 30px 33px;

  &__social {
    display: none;
  }

  &__collection-name {
    font: {
      size: 32px;
      weight: 400;
    }
    line-height: 50px;
  }

  &__type {
    margin-bottom: 27px;
    font: {
      size: 30px;
      weight: 400;
    }
    line-height: 48px;
  }

  &__description {
    margin-bottom: 58px;
    width: 82%;
    font: {
      family: $roboto;
      weight: 300;
    }
    line-height: 22px;
  }

  &__see-catalog {
    background-color: #444240;
  }
}

@media screen and (min-width: $tablet-width) {
  .year-collection {
    position: relative;
    margin-bottom: 65px;
    padding: 100px 0 65px 0;

    &__social {
      position: absolute;
      top: 40%;
      left: 4%;
      display: block;
      z-index: 3;
    }

    &__container {
      position: relative;
      padding-left: 13.5%;
      width: 46%;
      z-index: 2;
    }

    &__collection-name {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 56%;
        left: -30.5%;
        width: 50px;
        height: 1px;
        background-color: #8B8371;
      }
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .year-collection {
    margin-bottom: 78px;
    padding: 171px 0 237px 0;
    box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.25);

    &__container {
      width: 39%;
    }

    &__collection-name {
      font-size: 45px;
      line-height: 64px;

      &::before {
        left: -18.5%;
      }
    }

    &__type {
      margin-bottom: 19px;
    }

    &__description {
      width: 76%;
    }
  }
}
