.watch-catalog {
  margin: $margin-auto;
  width: $mobile-container-width;

  &__catalog-name-and-sort-type {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__catalog-name {
    margin-bottom: 25px;
    width: auto;
  }
}

@media screen and (min-width: $tablet-width) {
  .watch-catalog {
    width: $tablet-container-width;

    &__catalog-name-and-sort-type {
      margin-bottom: 35px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__catalog-name {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .watch-catalog {
    width: $desktop-container-width;
  }
}
