.user-button {

  & > svg > path {
    transition: fill, stroke, .4s ease;
  }

  &:hover > svg > path {
    fill: $svg-state-hover;
  }

  &:hover > svg > path[stroke] {
    stroke: $svg-state-hover;
  }

  &:active > svg > path {
    fill: $svg-state-active;
  }

  &:active > svg > path[stroke] {
    stroke: $svg-state-active;
  }
}
