.arrow-button {
  &:last-of-type svg {
    transform: rotate(180deg);
  }

  & svg path {
    transition: stroke .3s ease-out;
  }

  &:hover svg path {
    stroke: $arrow-hover;
  }

  &:active svg path {
    stroke: $arrow-active;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
