.button {
  padding: 25px 36px;
  font: {
    family: $roboto;
    size: 12px;
  }
  line-height: 14px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: $white-color;
  transition: all .5s ease;

  &:hover {
    background-color: #c7c7c7;
    color: $main-color;
  }

  &:focus {
    outline-color: $outline-spare-button-color;
  }

  &:active {
    background-color: #c7c7c7;
    color: $main-color;
    box-shadow: inset 1px 1px 10px #464444;
  }
}
