.slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 70px;

  &__slide-number {
    font: {
      family: $prata;
      size: 12px;
    }
    line-height: 16px;
  }
}
