.breadcrumbs {
  margin: $margin-auto;
  margin-bottom: 30px;
  width: $mobile-container-width;

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    &:not(:last-of-type) {
      padding-right: 24px;

      &::after {
        position: absolute;
        content: "";
        top: 39%;
        right: 15%;
        width: 4px;
        height: 7px;
        transform: rotate(180deg);
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__link {
    font: {
      family: $roboto;
      weight: 500;
    }
    color: #B3B3B3;
    line-height: 16px;
    transition: color .3s ease-in-out;

    &--active {
      color: #555248;
    }

    &:hover {
      color: $black-color;
    }

    &:active {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .breadcrumbs {
    width: $tablet-container-width;
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .breadcrumbs {
    margin-bottom: 36px;
    width: $desktop-container-width;

    &__item:not(:last-of-type) {
      padding-right: 32px;
    }
  }
}
