.filter {
  margin-bottom: 25px;

  &__legend {
    position: relative;
    margin-bottom: 19px;
    padding-right: 15px;
    width: 100%;
    font-family: $roboto;
    line-height: 16px;
    color: #444240;
    transition: color, .3s ease;
    cursor: pointer;

    &:hover {
      color: #7a7671;
    }

    &:active {
      color: $black-color;
    }

    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 5px;
      right: 1px;
      width: 10px;
      height: 1px;
      background-color: $main-color;
    }

    &::before {
      transform: rotate(90deg);
    }

    &--active::before {
      transform: rotate(0);
    }
  }

  &__fieldset:last-of-type {
    margin-bottom: 9px;
  }

  &__option-list {
    margin-bottom: 28px;
    padding-left: 29px;
  }

  &__checkbox-option {
    margin-bottom: 8px;
  }

  &__checkbox-label {
    position: relative;
    font: {
      family: $roboto;
      size: 12px;
    }
    color: #6f6e6d;
    transition: color .3s ease-in;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: -30px;
      width: 10px;
      height: 10px;
    }

    &:hover {
      color: $element-color-hover;
    }

    &:active {
      color: $element-color-active;
    }

  }

  &__checkbox-input + &__checkbox-label::before {
    border: 2px solid #909090;
    background-color: transparent;
  }

  &__checkbox-input:focus + &__checkbox-label::before {
    outline: 2px solid $outline-spare-button-color;
  }

  &__checkbox-input:checked + &__checkbox-label::before {
    border: 2px solid #6f6e6d;
    background: url("../img/check-mark.svg") 50% no-repeat #6f6e6d;
  }

  &__button-drop-option {
    padding: 22px 0 21px;
    width: 100%;
    font: {
      family: $roboto;
      size: 12px;
    }
    line-height: 14px;
    text-transform: uppercase;
    color: #1d1a1a;
    background-color: transparent;
    letter-spacing: .5px;
    border: 2px solid #e7e0cf;
    transition: all .4s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #e7e0cf;
    }

    &:active {
      opacity: .5;
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .filter {
    margin-bottom: 0;
    width: 20%;
    align-self: flex-start;
  }
}
