$margin-auto: 0 auto;

/*Width*/
$mobile-width: 320px;
$mobile-container-width: 290px;
$tablet-width: 764px;
$tablet-container-width: 724px;
$desktop-width: 1366px;
$desktop-container-width: 1170px;

/*Font-family*/
$roboto: "Roboto";
$prata: "Prata";
$playFairDisplay: "PlayfairDisplay";


/*Colors*/
$main-color: #1B1A17;
$white-color: #ffffff;
$black-color: #000000;
$fdfdfb-color: #fdfdfb;
$like-color: #D75A4A;
$like-color-active: #a71a07;
$basket-color: #afa45d;
$basket-color-active: #ac9502;
$arrow-hover: #d38f11;
$arrow-active: #dad60e;
$element-color-hover: #e47474;
$element-color-active: #ec2626;

/*Social colors*/
$instagram-color: #C13584;
$instagram-state-hover: #833AB4;
$facebook-color: #3C5A99;
$facebook-state-hover: #155aec;
$twitter-color: #1DA1F2;
$twitter-state-hover: #0d73b1;

/*Button spare outline color*/
$outline-spare-button-color: #5E9ED6;
