$margin-auto: 0 auto;
$desktop-width: 1366px;
$white-color: #ffffff;
$black-color: #000000;
$fdfdfd-color: #fdfdfd;
$main-color: #1B1A17;
$roboto: "Roboto";
$prata: "Prata";
$playFairDisplay: "PlayfairDisplay";
