$margin-auto: 0 auto;

/*Width*/
$mobile-width: 320px;
$mobile-container-width: 290px;
$tablet-width: 764px;
$tablet-container-width: 724px;
$desktop-width: 1366px;

/*Font-family*/
$roboto: "Roboto";
$prata: "Prata";
$playFairDisplay: "PlayfairDisplay";


/*Colors*/
$main-color: #1B1A17;
$white-color: #ffffff;
$black-color: #000000;
$fdfdfd-color: #fdfdfd;
$like-color: #D75A4A;
$svg-state-default: #afa45d;
