.popular-models {
  position: relative;
  margin: $margin-auto;
  width: $mobile-container-width;

  &__headline {
    margin: $margin-auto;
    margin-bottom: 20px;
    width: 100%;
    font-size: 28px;
  }

  &__watch-all {
    margin-bottom: 26px;
  }

  &__list {
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    padding: 15px;
    margin-bottom: 38px;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    background-color: $fdfdfb-color;
    overflow: hidden;
  }

  &__model-name,
  &__model-price,
  &__more-about-model {
    position: relative;
    z-index: 3;
  }

  &__model-name {
    width: 40%;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: rgba(27, 26, 23, 0.82);
  }

  &__model-price {
    width: 40%;
    font: {
      family: $prata;
      weight: 400;
      size: 12px;
    }
    line-height: 16px;
  }

  &__model-img {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &__more-about-model {
    margin-top: auto;
    margin-left: 16%;
    display: block;
    align-self: flex-start;
    font: {
      family: $playFairDisplay;
      weight: 400;
      size: 16px;
    }
    line-height: 21px;
    transition: font-size, opacity, .3s ease;

    &::before {
      position: absolute;
      content: "";
      top: 57%;
      left: -50%;
      width: 30px;
      height: 1px;
      background-color: #8B8371;
    }

    &:hover {
      font-size: 14px;
    }

    &:active {
      opacity: .5;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .popular-models {
    width: $tablet-container-width;

    &__headline {
      font-size: 32px;
    }

    &__list {
      display: grid;
      grid-template-columns: 37% 10% 10% 37%;
      grid-auto-rows: auto auto;
      grid-template-areas: "first-item second-item second-item second-item"
                           "third-item third-item fourth-item fourth-item";
      gap: 20px 15px;
    }

    &__item {
      margin-bottom: 0;
    }

    &__item:first-of-type {
      grid-area: first-item;

      & > img {
        top: 15%;
        width: 90%;
      }
    }

    &__item:nth-of-type(2) {
      grid-area: second-item;

      & > img {
        top: 5%;
        left: 25%;
        width: 75%;
      }
    }

    &__item:nth-of-type(3) {
      grid-area: third-item;
    }

    &__item:last-of-type {
      grid-area: fourth-item;
    }

    &__item:nth-of-type(3),
    &__item:last-of-type {
      min-height: 220px;

      & > img {
        top: 2%;
        left: 34%;
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .popular-models {
    margin-bottom: 81px;
    width: $desktop-container-width;

    &__headline {
      margin: $margin-auto;
      margin-bottom: 0;
    }

    &__list {
      margin-bottom: 74px;
      grid-template-columns: 32% 13% 12% 33%;
      gap: 31px 15px;
    }

    &__item:nth-of-type(2) &__model-name {
      margin-bottom: 6px;
      font-size: 18px;
    }

    &__item:nth-of-type(2) &__model-price {
      font-size: 16px;
      line-height: 22px;
    }

    &__item:first-of-type {
      padding: 39px;

      & img {
        top: 15.9%;
        left: 8.7%;
        width: 82%;
      }
    }

    &__item:nth-of-type(2) {
      padding: 53px;
      min-height: 474px;

      & img {
        top: 0;
        left: 29%;
        width: 65%;
      }
    }

    &__item:nth-of-type(2) &__more-about-model {
      margin-left: 10%;

      &::before {
        left: -84%;
        width: 50px;
      }
    }

    &__item:nth-of-type(3),
    &__item:last-of-type {
      padding: 40px;

      & img {
        top: -2%;
        left: 39%;
        width: 43%;
      }
    }

    &__item:nth-of-type(3) &__more-about-model,
    &__item:last-of-type &__more-about-model {
      margin-left: 9%;
    }
  }
}
