.burger-button {
  transition: transform .4s ease;

  & svg path {
    transition: stroke .2s ease-in;
  }

  &:focus {
    outline: 2px solid black;
    outline-offset: 2px;
  }

  &:hover {
    transform: rotate(15deg);
  }

  &:active {
    transform: rotate(45deg);
  }

  &:active > svg > path {
    stroke: #CC9900;
  }
}
