.button {
  padding: 25px 37px;
  display: inline-block;
  font-family: $roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: $white-color;
  background-color: #444240;
  vertical-align: middle;
  text-transform: uppercase;
  transition: .5s ease;
}
