.social {

  &__container {
    margin: $margin-auto;
    padding-bottom: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  &__follow-container {
    padding: 25px 20px 20px 25px;
  }

  &__follow-news {
    margin-bottom: 30px;
    font-family: $roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #444240;

    &--font {
      margin-bottom: 27px;
      width: 100%;
      font-family: $playFairDisplay;
      font-size: 22px;
      line-height: 32px;
      color: $main-color;
    }
  }

  &__clock-illustration {
    display: none;
  }

  &__conquest-social-position {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .social {

    &__container {
      padding-bottom: 81px;
    }

    &__follow-container {
      padding: 57px 20px 20px 0;
    }

    &__follow-news {
      margin-bottom: 38px;
    }

    &__clock-illustration {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      grid-auto-flow: row dense;

      &-photo--small {
        width: 170px;
        height: 175px;
      }

      &-photo--big {
        width: 280px;
        height: 360px;
        grid-row: span 2;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .social {

    &__container {
      width: 85.5%;
    }

    &__follow-container {
      padding: 141px 20px 20px 0;
    }

    &__follow-news {
      margin-bottom: 46px;
      width: 72%;
      font-size: 16px;
      line-height: 27px;

      &--font {
        margin-bottom: 27px;
        width: 100%;
        font-size: 32px;
        line-height: 43px;
      }
    }

    &__clock-illustration {

      &-photo--small,
      &-photo--big {
        width: auto;
        height: auto;
      }
    }

    &__conquest-social-position {
      width: 18%;
    }
  }
}
