.product-card {
  margin: $margin-auto;
  margin-bottom: 20px;
  width: $mobile-container-width;

  &__imgs-container {
    margin-bottom: 20px;
  }

  &__main-img-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__switch-img {
    align-self: center;

    & svg {
      width: 20px;
      height: 20px;
    }
  }

  &__main-img {
    margin: 0;
    text-align: center;
  }

  &__imgs-list {
    display: none;
  }

  &__img-item {
    background-color: rgba(100, 100, 100, 0.15);

    &--active {
      background-color: $white-color;
    }
  }

  &__info-container {
    background-color: $fdfdfb-color;
  }

  &__name-and-price {
    position: relative;
    margin-bottom: 15px;
    padding-right: 40px;
  }

  &__name,
  &__price {
    font: {
      family: $roboto;
      size: 24px;
    }
  }

  &__name {
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444240;
  }

  &__price {
    font-size: 24px;
    line-height: 28px;
    color: #686868;
  }

  &__favorite {
    position: absolute;
    right: 0;
    top: 8px;
  }

  &__button-item {
    margin-bottom: 10px;
  }

  &__detailed-buttons-list {
    display: flex;
    flex-direction: column;
  }

  &__detailed-button {
    font: {
      family: $roboto;
      weight: 500;
      size: 16px;
    }
    line-height: 24px;
    color: #444240;
    border-bottom: 1px solid transparent;
    transition: opacity .3s ease;
    cursor: pointer;

    &--active,
    &:hover {
      border-color: #C4C0B6;
    }

    &:active {
      opacity: .5;
    }
  }

  &__detailed-info-container {
    margin-bottom: 40px;
  }

  &__detailed-info,
  &__tech-info {
    font: {
      family: $roboto;
      weight: 300;
      size: 14px;
    }
    line-height: 23px;
    color: $black-color;
  }

  &__detailed-info {
    margin-bottom: 15px;
  }

  &__tech-list {
    padding-left: 15px;
    list-style-type: disc;
  }

  &__tech-item {
    margin-bottom: 10px;
  }

  &__basket {
    margin-bottom: 15px;
    color: $white-color;
    background-color: #31302C;

    &:disabled {
      background-color: $basket-color-active;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .product-card {
    display: flex;
    justify-content: space-between;
    width: $tablet-container-width;

    &__imgs-container {
      width: 55%;
    }

    &__main-img-container {
      margin-bottom: 35px;
    }

    &__imgs-list {
      display: flex;
      justify-content: space-around;
    }

    &__img-item {
      padding: 10px 23px;
    }

    &__img {
      margin: 0;

      & img {
        width: 45px;
      }
    }

    &__info-container {
      padding: 20px 26px;
      align-self: flex-end;
      width: 40%;
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .product-card {
    width: $desktop-container-width;

    &__main-img img {
      width: 180px;
      height: 300px;
    }

    &__imgs-container {
      width: 45%;
    }

    &__img img {
      width: 70px;
    }

    &__info-container {
      padding: 20px 35px;
      width: 45%;
    }

    &__name-and-price {
      margin-bottom: 35px;
    }

    &__detailed-buttons-list {
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
    }

    &__basket {
      padding: 25px 55px;
    }
  }
}
