.site-section-navigation {
  position: absolute;
  top: 130%;
  left: 0;
  display: none;
  width: 40%;
  background-color: $white-color;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
  z-index: 50;

  &--visible {
    display: block;
    animation: bubble-appearance .3s ease-in;
  }

  &__list {
    padding: 15px 16px;
  }

  &__item {
    text-align: center;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font: {
      size: 16px;
      weight: 400;
    }
    color: $main-color;
    transition: opacity .3s ease;

    &--active {
      color: #A69876;
    }

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .4;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .site-section-navigation {
    width: 18%;

    &__link {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .site-section-navigation {
    position: relative;
    margin-right: 19%;
    display: block;
    width: 30%;
    animation: none;
    background-color: transparent;
    box-shadow: none;

    &--other-page {
      margin-right: 0;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__item:nth-child(n) {
      margin-bottom: 0;
      min-width: 70px;
    }

    &__link {
      font-size: 14px;
    }
  }
}
