.watch-all-link {
  position: relative;
  margin-left: 59%;
  padding-bottom: 7px;
  display: inline-block;
  font: {
    family: $roboto;
    size: 16px;
  }
  line-height: 19px;
  color: #444240;
  vertical-align: middle;
  transition: opacity, .3s ease;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .4;
  }

  &::after {
    position: absolute;
    content: "";
    top: 98%;
    left: 0;
    width: 101px;
    height: 1px;
    background-color: #C4C0B6;
  }
}

@media screen and (min-width: $tablet-width) {
  .watch-all-link {
    margin-left: 85%;
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .watch-all-link {
    margin-left: 91%;
  }
}
