.social-links {
  text-align: center;

  &__item:not(:last-child) {
    margin-bottom: 4px;
  }

  &__link {
    transition: all .5s ease;

    &--instagram {
      & > svg > path {
        fill: $instagram-color;
        stroke: $instagram-color;
      }

      &:hover > svg > path {
        fill: $instagram-state-hover;
        stroke: $instagram-state-hover;
      }
    }

    &--facebook {
      & > svg > path {
        fill: $facebook-color;
      }

      &:hover > svg > path {
        fill: $facebook-state-hover;
      }
    }

    &--twitter {
      & > svg > path {
        fill: $twitter-color;
      }

      &:hover > svg > path {
        fill: $twitter-state-hover;
      }
    }

    &:active {
      opacity: .5;
    }
  }
}
