.sort-by {
  position: relative;
  display: flex;
  align-items: center;

  &__type {
    font: {
      family: $roboto;
      weight: 300;
    }
    line-height: 21px;
    letter-spacing: 0.3px;
    color: #BDB9B5;
  }

  &__active-type {
    width: 114px;
    font-family: $roboto;
    border: none;
    letter-spacing: inherit;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
      color: #65370c;
    }

    &:active {
      opacity: .7;
    }
  }

  &__type-list {
    position: absolute;
    top: 21px;
    right: 12px;
    padding: 5px 10px;
    background-color: $white-color;
    z-index: 2;
  }

  &__type-link {
    font-family: $roboto;
    line-height: 21px;
    color: $black-color;
    border-bottom: 1px solid transparent;
    transition: border-bottom, opacity .2s ease-in-out;

    &:hover {
      border-bottom-color: $black-color;
    }

    &:active {
      opacity: .5;
    }
  }
}
